.Container {
  display: flex;
}
.showAll {
  max-width: 1020px;
  display: flex;
  justify-content: center;
  background-color: #1e212c;
  color: white;
  padding-top: 50px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.showAllSecond {
  padding-top: 50px;
  place-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  background-color: #1e212c;
  max-width: 1020px;
}
.image {
  padding: 20px;
}
.filterCar {
  padding: 5px;
}
.showAll {
  padding: 5px;
}
