.mainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1020px;
  text-align: -webkit-center;
  margin-top: 10px;
}
@media (max-width: 1024px) {
  .mainContainer {
    justify-content: space-evenly;
  }
}